[config]
root=/usr/games/library

[runners]
snes9x=snes9x
dolphin=dolphin-emu-nogui

[snes9x]
-conf=/home/lucas/.config/snes9x/snes9x.1.conf
args=<file.Path>

[dolphin]
--config=Dolphin.Display.Fullscreen=true
-e=<file.Path>

[image]
dynamic=.png,.jpeg,.jpg,.jfif
default=/files/images/default.png
folder=/files/images/folder.png
forward=/files/images/foward.png
backward=/files/images/backward.png
.zip=/files/images/zip.png
.rar=/files/images/rar.png
.7z=/files/images/7z.png

[fileinfo]
Name=<file.Name>
Size=<file.Size>
Created=<file.Created>
Modified=<file.Modified>
Accessed=<file.Accessed>
Link=<file.Name>,([0-9]+).*,https://www.linkexample.com/(1)
Link=<file.Name>,Game_([0-9]+).*,https://www.linkexample2.com/id=(1)